$(document).ready(function(){
  
  let add_reply = $("<div class=\"pl-5\"><%= j(render "posts/reply", reply: @reply) %></div>");
  add_reply.hide();
  $("#new_reply_form").after(add_reply)
  add_reply.slideDown();

  // reset the form and hide it
  $("#new_reply_form").trigger("reset");
  $("#new_reply_form").remove()

});