
<div class="container d-flex">
  <div class="row align-self-center"><h2>Posts</h2></div>
</div>

<div class="container">
  <% @posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
</div>
